.about-list {
  .about-list__item {
    font-size: 17px;
    line-height: 20px;
    font-weight: @font-bold;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 22px;
    }
  }
}