.about-us {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;

    .about-us__wrapper {
      display: flex;
      justify-content: space-between;
      width: 668px;
      margin: 0 auto;
      flex-direction: column;
      height: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    .about-us__wrapper {
      width: 1050px;

    }
  }

  .about-us__title {
    font-size: 25px;
    font-weight: @font-regular;
    line-height: 30px;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    @media (min-width: @tablet-width) {
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: @desktop-width) {
      font-size: 53px;
      line-height: 57px;
    }


  }
}