.main-nav {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;

    .main-nav__wrapper {
      display: flex;
      justify-content: space-between;
      width: 668px;
      margin: 0 auto;
    }

    .main-nav__toggle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    .main-nav__wrapper {
      width: 1050px;
    }
  }
}