.page-header {
  display:flex;
  flex-direction: column;
  box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;

  .page-header__logo {
<<<<<<< HEAD
    padding: 22px 116px;
=======
    height: 79px;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }

    @media (min-width: @tablet-width) {
      &--mobile{
        display: none;
      }

      &--tablet {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      &--mobile{
        display: none;
      }

      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
>>>>>>> aabed9b76b0acaf8293a1afa45c5f5c845bf4ad0
  }
}

