.product {
  color: rgba(68, 68, 68, 1);

  .product__title {
    font-size: 25px;
    font-weight: @font-regular;
    color: rgba(0, 0, 0, 1);

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    @media (min-width: @tablet-width) {
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: @desktop-width) {
      font-size: 53px;
      line-height: 57px;
    }


  }

  .product__describe {
    font-size: 15px;
    line-height: 24px;

    @media (min-width: @tablet-width) {
      font-size: 17px;
      line-height: 30px;
    }
  }

  .product__param {
    font-size: 15px;
    line-height: 20px;
  }

  .product__price {
    line-height: 24px;
    font-weight: @font-regular;
  }
}

